<head>
  <meta charset="UTF-8">
</head>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="glass-nav">
    <div class="nav-inner">
      <span>Call The Match</span>
        <a th:href="@{/home}">Home</a>
      <a th:href="@{/ranking}">Top 10 Teams</a>
      <a th:href="@{/team/dashboard}">My Teams</a>
      <a th:href="@{/predictions}">My Predictions</a>
      <a th:href="@{/competition}">Manage Competitions</a>
      <a th:href="@{/login}">Login</a>
      <a th:href="@{/register}" class="btn-register">Register</a>
    </div>
</nav>
</html>
