<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styleNotFound.css}" />
    <title th:text="#{pageNotFound.title}"></title>
</head>
<body>

<div class="error-container">
    <div class="error-content">
        <h1 th:text="#{pageNotFound.heading}"></h1>
        <p th:text="#{pageNotFound.message1}"></p>
        <p th:text="#{pageNotFound.message2}"></p>
        <a th:href="@{/home}" th:text="#{nav.returnHome}"></a>
    </div>
</div>

</body>
</html>