<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title th:text="#{registration.label}"></title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main class="signin-shell">
    <section class="signin-panel register-panel">
        <h1>Create Account</h1>

        <form class="signin-form" th:action="@{/register}" th:object="${inputRegistrationDto}" method="post">
            <p class="signin-field">
                <label for="firstName" th:text="#{label.account.firstName}"></label>
                <input id="firstName" type="text" th:field="*{firstName}" autocomplete="given-name"/>
                <span th:if="${#fields.hasErrors('firstName')}" th:errorclass="error"
                      th:errors="*{firstName}"></span>
            </p>
            <p class="signin-field">
                <label for="lastName" th:text="#{label.account.lastName}"></label>
                <input id="lastName" type="text" th:field="*{lastName}" autocomplete="family-name"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errorclass="error"
                      th:errors="*{lastName}"></span>
            </p>
            <p class="signin-field">
                <label for="userName" th:text="#{label.account.userName}"></label>
                <input id="userName" type="text" th:field="*{userName}" autocomplete="username"/>
                <span th:if="${#fields.hasErrors('userName')}" th:errorclass="error"
                      th:errors="*{userName}"></span>
            </p>
            <p class="signin-field">
                <label for="email" th:text="#{label.account.email}"></label>
                <input id="email" type="email" th:field="*{email}" autocomplete="email"/>
                <span th:if="${#fields.hasErrors('email')}" th:errorclass="error"
                      th:errors="*{email}"></span>
            </p>
            <p class="signin-field">
                <label for="password" th:text="#{label.account.password}"></label>
                <input id="password" type="password" th:field="*{password}" autocomplete="new-password"/>
                <span th:if="${#fields.hasErrors('password')}" th:errorclass="error"
                      th:errors="*{password}"></span>
            </p>
            <button class="signin-submit" type="submit">Create account</button>
        </form>

        <p class="signin-legal">
            By creating an account, you can join teams and start predicting match scores.
        </p>

        <p class="signin-footer-link">
            Already have an account? <a th:href="@{/login}" th:text="#{login.label}"></a>
        </p>
    </section>
</main>
</body>
</html>
