<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <title th:text="#{home.title}"></title>
</head>
<body>

<header>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main>
  <div class="page-header">
    <h1 class="page-title font-headline">Worldcup 2026</h1>
    <h2 th:text="#{schedule.title}"></h2>
    <p th:text="#{schedule.desc}"></p>
    <table>
      <tr>
        <th th:text="#{label.date}"></th>
        <th th:text="#{label.time}"></th>
        <th th:text="#{label.teamA}"></th>
        <th th:text="#{label.teamB}"></th>
        <th th:text="#{label.stadium}"></th>
        <th th:text="#{label.city}"></th>
        <th th:text="#{label.score}"></th>
        <th th:text="#{label.match}"></th>
      </tr>

      <tr th:each="competition : ${competitionList}">
        <td th:text="${competition.date}"></td>
        <td th:text="${competition.time}"></td>
        <td th:text="${competition.teamA.name}"></td>
        <td th:text="${competition.teamB.name}"></td>
        <td th:text="${competition.stadium.name}"></td>
        <td th:text="${competition.stadium.location.city}"></td>
        <td th:if="${competition.scoreA != null and competition.scoreB != null}"
            th:text="|${competition.scoreA} - ${competition.scoreB}|"></td>
        <td th:unless="${competition.scoreA != null and competition.scoreB != null}" th:text="#{competition.list.tbd}"></td>
        <td><a th:href="|/competition/${competition.id}|" th:text="#{label.match}"></a></td>
      </tr>
    </table>
  </div>
</main>

<!--<div th:replace="~{fragments/footer :: footer}"></div> -->

</body>
</html>
