<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Dashboard</title>
</head>
<body>

<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<h1>Squad up for the next match</h1>
<p>Enter your squad's invite code to join existing competitions or create your own legacy from scratch.</p>

<div>
    <form th:action="@{/team/join}" th:object="${inputTeamJoinDto}" method="post">
        <p>
            <label for="inviteCode" th:text="#{label.team.inviteCode}">Invite code</label>
            <input id="inviteCode" type="text" th:field="*{inviteCode}"
                   th:placeholder="#{team.inviteCode.placeholder}"/>
            <span th:if="${#fields.hasErrors('inviteCode')}" th:errorclass="error"
                  th:errors="*{inviteCode}"></span>
        </p>
        <button type="submit" th:text="#{team.join.submit}">Join team</button>
    </form>
</div>

<div>
    <h2>Create a team</h2>
    <form th:action="@{/team/create}" th:object="${inputTeamDto}" method="post">
        <p>
            <label for="teamName" th:text="#{label.team.name}">Team name</label>
            <input id="teamName" type="text" th:field="*{name}"
                   th:placeholder="#{label.team.name}"/>
            <span th:if="${#fields.hasErrors('name')}" th:errorclass="error"
                  th:errors="*{name}"></span>
        </p>
        <button type="submit" th:text="#{team.create.submit}">Create team</button>
    </form>
</div>

<p th:if="${message}" th:text="${message}"></p>

<div>
    <h2>My teams</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Score</th>
        </tr>

        <tr th:each="team : ${teamList}">
            <td><a th:href="|/team/${team.id}|" th:text="${team.name}"></a></td>
            <td th:text="${team.owner.userName}"></td>
            <td th:text="${team.score}"></td>
        </tr>
    </table>

</div>

</body>
</html>
