<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title th:text="#{team.dashboard.title}"></title>
</head>
<body>

<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<h1 th:text="#{team.squadsUp}"></h1>
<p th:text="#{team.inviteCodeDesc}"></p>

<div>
    <form th:action="@{/team/join}" th:object="${inputTeamJoinDto}" method="post">
         <p>
             <label for="inviteCode" th:text="#{label.team.inviteCode}"></label>
             <input id="inviteCode" type="text" th:field="*{inviteCode}"
                    th:placeholder="#{team.inviteCode.placeholder}"/>
            <span th:if="${#fields.hasErrors('inviteCode')}" th:errorclass="error"
                  th:errors="*{inviteCode}"></span>
        </p>
         <button type="submit" th:text="#{team.join.submit}"></button>
     </form>
 </div>

 <div>
     <h2 th:text="#{team.createTeam}"></h2>
     <form th:action="@{/team/create}" th:object="${inputTeamDto}" method="post">
         <p>
             <label for="teamName" th:text="#{label.team.name}"></label>
             <input id="teamName" type="text" th:field="*{name}"
                    th:placeholder="#{label.team.name}"/>
             <span th:if="${#fields.hasErrors('name')}" th:errorclass="error"
                   th:errors="*{name}"></span>
         </p>
         <button type="submit" th:text="#{team.create.submit}"></button>
    </form>
</div>

<p th:if="${message}" th:text="${message}"></p>

<div>
    <h2 th:text="#{team.myTeams}"></h2>
    <table>
        <tr>
            <th th:text="#{label.name}"></th>
            <th th:text="#{label.owner}"></th>
            <th th:text="#{label.score}"></th>
        </tr>

        <tr th:each="team : ${teamList}">
            <td><a th:href="|/team/${team.id}|" th:text="${team.name}"></a></td>
            <td th:text="${team.owner.userName}"></td>
            <td th:text="${team.score}"></td>
        </tr>
    </table>

</div>

</body>
</html>
