<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title th:text="#{ranking.title}"></title>
</head>
<body>

<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<main>
    <div class="page-header">
        <h1 class="page-title font-headline" th:text="#{ranking.heading}"></h1>
        <p th:text="#{ranking.summary}"></p>

        <table>
            <tr>
                <th th:text="#{ranking.rank}"></th>
                <th th:text="#{label.team.name}"></th>
                <th th:text="#{ranking.totalScore}"></th>
                <th th:text="#{ranking.memberCount}"></th>
            </tr>

            <tr th:each="team, stat : ${teamList}">
                <td th:text="${stat.count}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.score}"></td>
                <td th:text="${team.memberCount}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>
