<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title th:text="#{team.scoreboard.title}"></title>
</head>
<body>

<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<h1 th:text="${scoreboard.name}"></h1>

<div>
    <h2 th:text="#{team.scoreboard.total}"></h2>
    <p th:text="${scoreboard.score}"></p>
</div>

<table>
    <tr>
        <th th:text="#{team.scoreboard.member}"></th>
        <th th:text="#{team.scoreboard.score}"></th>
    </tr>
    <tr th:each="member : ${scoreboard.members}">
        <td th:text="${member.userName}"></td>
        <td th:text="${member.score}"></td>
    </tr>
</table>

</body>
</html>
