<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Add New Competition</title>
</head>
<body>
<h1>Add new match</h1>
<p>Configure stadium logistics and match details. Precision is required for the stadium checksum validation system.</p>

<div>
    <form th:object="${inputCompetitionDto}" method="post">

        <!-- <p th:if="${#fields.hasErrors()}" class="error" th:text="#{contact_save_fail}"></p>  OR -->
        <p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>

        <p>
            <label th:text="#{label_competition_teamA}"></label>
            <select th:field="*{teamB}">
                <option th:each="country : ${countries}" th:value="${country.id}"
                        th:text="${country.name}"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('teamA')}" th:errorclass="error"
                th:errors="*{country.name}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_teamB}"></label>
            <select th:field="*{teamB}">
                <option th:each="country : ${countries}" th:value="${country.id}"
                        th:text="${country.name}"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('teamB')}" th:errorclass="error"
                th:errors="*{country.name}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_stadium}"></label>
            <select th:field="*{stadium}">
                <option th:each="stadium : ${stadiums}" th:value="${stadium.id}"
                        th:text="${stadium.name}"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('stadium')}" th:errorclass="error"
                th:errors="*{stadium.name}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_scoreA}"></label> <input
                type="number" th:field="*{scoreA}" min="0" />
            <span
                th:if="${#fields.hasErrors('scoreA')}" th:errorclass="error"
                th:errors="*{scoreA}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_scoreB}"></label>
            <input
                type="number" th:field="*{scoreB}" min="0" />
            <span
                th:if="${#fields.hasErrors('scoreB')}" th:errorclass="error"
                th:errors="*{scoreB}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_date}"></label>
            <input
                    type="date" th:field="*{date}" />
            <span
                    th:if="${#fields.hasErrors('date')}" th:errorclass="error"
                    th:errors="*{date}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_time}"></label>
            <input
                    type="time" th:field="*{time}" />
            <span
                    th:if="${#fields.hasErrors('time')}" th:errorclass="error"
                    th:errors="*{time}">
            </span>
        </p>

        <button type="submit">Save</button>
        <button type="reset">Reset</button>

    </form>
</div>

</body>
</html>