<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
<title th:text="#{competition.add.title}">Add New Competition</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<h1 th:text="#{competition.add.heading}">Add new match</h1>
<p th:text="#{competition.add.summary}">Configure stadium logistics and match details.</p>

<div>
    <form th:action="@{/competition/add}" th:object="${inputCompetitionDto}" method="post">

        <!-- <p th:if="${#fields.hasErrors()}" class="error" th:text="#{contact_save_fail}"></p>  OR -->
        <p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>

        <p>
            <label th:text="#{label_competition_teamA}"></label>
            <select th:field="*{teamA}">
                <option value="" th:text="#{competition.country.select}">Select a country</option>
                <option th:each="country : ${countries}" th:value="${country.id}"
                        th:text="${country.name}"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('teamA')}" th:errorclass="error"
                th:errors="*{teamA}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_teamB}"></label>
            <select th:field="*{teamB}">
                <option value="" th:text="#{competition.country.select}">Select a country</option>
                <option th:each="country : ${countries}" th:value="${country.id}"
                        th:text="${country.name}"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('teamB')}" th:errorclass="error"
                th:errors="*{teamB}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_stadium}"></label>
            <select th:field="*{stadium}">
                <option value="" th:text="#{competition.stadium.select}">Select a stadium</option>
                <option th:each="stadium : ${stadiums}" th:value="${stadium.id}"
                        th:text="|${stadium.name} - ${stadium.location.city} - ${stadium.code}|"></option>
            </select>
            <span
                th:if="${#fields.hasErrors('stadium')}" th:errorclass="error"
                th:errors="*{stadium}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_stadiumCode}"></label>
            <input type="number" th:field="*{stadiumCode}" min="0" max="9999" />
            <span
                th:if="${#fields.hasErrors('stadiumCode')}" th:errorclass="error"
                th:errors="*{stadiumCode}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_checksum}"></label>
            <input type="number" th:field="*{checksum}" min="0" max="96" />
            <span
                th:if="${#fields.hasErrors('checksum')}" th:errorclass="error"
                th:errors="*{checksum}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_date}"></label>
            <input
                    type="date" th:field="*{date}" />
            <span
                    th:if="${#fields.hasErrors('date')}" th:errorclass="error"
                    th:errors="*{date}">
            </span>
        </p>

        <p>
            <label th:text="#{label_competition_time}"></label>
            <input
                    type="time" th:field="*{time}" />
            <span
                    th:if="${#fields.hasErrors('time')}" th:errorclass="error"
                    th:errors="*{time}">
            </span>
        </p>

        <button type="submit" th:text="#{competition.add.submit}">Save</button>
        <button type="reset" th:text="#{competition.add.reset}">Reset</button>

    </form>
</div>

</body>
</html>
