<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Competition</title>
</head>
<body>
<header>
  <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>

<div>
  <h1 th:text="#{competition.detail.title}">Match</h1>
  <p th:text="|${competition.teamA.name} vs ${competition.teamB.name}|"></p>
  <div>
    <p>
      <span th:text="#{label_competition_date}">Date</span>:
      <span th:text="${competition.date}"></span>
    </p>
    <p>
      <span th:text="#{label_competition_time}">Time</span>:
      <span th:text="${competition.time}"></span>
    </p>
    <p>
      <span th:text="#{label_competition_stadium}">Stadium</span>:
      <span th:text="${competition.stadium.name}"></span>
    </p>
    <p>
      <span th:text="#{competition.detail.location}">Location</span>:
      <span th:text="${competition.stadium.location.city}"></span>
    </p>
    <p th:text="#{competition.detail.officialResult}">Official result</p>
    <p th:if="${competition.scoreA != null and competition.scoreB != null}"
       th:text="|${competition.scoreA} - ${competition.scoreB}|"></p>
    <p th:unless="${competition.scoreA != null and competition.scoreB != null}"
       th:text="#{competition.detail.noResult}">No official result yet.</p>
    <p sec:authorize="hasRole('ADMIN')">
      <a th:href="@{/competition/edit/{id}(id=${competition.id})}"
         th:text="#{competition.edit.link}">Edit match</a>
    </p>
  </div>
</div>


</body>
</html>
